<div class="content-wrapper buffer-both text-center">
  <div class="buffer-both">
    <h1 class="title-medium">Наши пользователи</h1>
  </div>

  <% @users.each do |user| %>
    <div class="users-list-item">
      <div class="user-image-div user-image-div-small">
        <%= link_to image_tag(user_avatar(user), class: 'user-image'), user_path(user) %>
      </div>
    </div>
  <% end %>

  <div class="buffer-both">
    <h2 class="title-medium">Хештеги:</h2>
  </div>

  <% @hashtags.each do |hashtag| %>
    <span class="hashtag-link">
      #<%= link_to hashtag.name, hashtag_url(hashtag) %>
    </span>
  <% end %>
</div>
